In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "/Users/azpunit/Desktop/pandas-challenge/HeroesOfPymoli/Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [4]:
# This following code allowed us to create a dataframe including the total number of players. 
total_players = len(purchase_data["SN"].unique())
total_players_table = pd.DataFrame({"Total Players": [total_players]})
total_players_table

   Total Players
0            576

In [3]:
# This following code allowed us to store the number of unique items, the average price, 
# the number of purchases and the total revenue into variables. 
number_of_unique_items = len(purchase_data["Item Name"].unique())

raw_average_price = round(purchase_data["Price"].mean(), 2)
average_price = f"${raw_average_price}"

number_of_purchases = purchase_data["Purchase ID"].count()

raw_total_revenue = purchase_data["Price"].sum()
intermediate_total_revenue = ("{:,}").format(raw_total_revenue)
total_revenue = f"${intermediate_total_revenue}"


# This following code allowed us to create a dataframe including the previously stored variables.
purchasing_analysis_total = pd.DataFrame({ "Number of Unique Items": [number_of_unique_items],
                                            "Average Price": average_price,
                                            "Number of Purchases": number_of_purchases,
                                            "Total Revenue": total_revenue
                                        })
purchasing_analysis_total

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [5]:
# The following code allows us to set the rows and the column.
index = ["Male", "Female", "Other / Non-Disclosed"]
columns = ["Purchase ID", "SN", "Age", "Gender", "Item ID", "Item Name", "Price"]

# The following code allows us to calculate the total unique count of the players. 
grouped_purchases = purchase_data.groupby(["SN", "Gender"])
total_purchases = len(grouped_purchases)

# The following code allows us to find the numerical values of the first row.
male_purchases = purchase_data.loc[purchase_data["Gender"] == "Male", columns]
grouped_male_purchases = male_purchases.groupby(["SN", "Gender"])
total_male_purchases = len(grouped_male_purchases)
raw_percentage_male_purchases = ("{:.2f}").format((total_male_purchases/total_purchases)*100)
percentage_male_purchases = f"{raw_percentage_male_purchases}%"

# The following code allows us to find the numerical values of the second row.
female_purchases = purchase_data.loc[purchase_data["Gender"] == "Female", columns]
grouped_female_purchases = female_purchases.groupby(["SN", "Gender"])
total_female_purchases = len(grouped_female_purchases)
raw_percentage_female_purchases = ("{:.2f}").format((total_female_purchases/total_purchases)*100)
percentage_female_purchases = f"{raw_percentage_female_purchases}%"

# The following code allows us to find the numerical values of the third row.
other_purchases = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", columns]
grouped_other_purchases = other_purchases.groupby(["SN", "Gender"])
total_other_purchases = len(grouped_other_purchases)
raw_percentage_other_purchases = ("{:.2f}").format((total_other_purchases/total_purchases)*100)
percentage_other_purchases = f"{raw_percentage_other_purchases}%"

# The following code allows us to create our table.
gender_demographics = pd.DataFrame({"Total Count": [total_male_purchases, total_female_purchases, total_other_purchases],
                                    "Percentage of Players": [percentage_male_purchases, percentage_female_purchases, percentage_other_purchases]},
                                    index=index)
gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [6]:
# The following code allows us to set the column.
columns = ["Purchase ID", "SN", "Age", "Gender", "Item ID", "Item Name", "Price"]

# The following code allows us to find the numerical values of the first row.
female_purchases = purchase_data.loc[purchase_data["Gender"] == "Female", columns]
total_unique_female_purchases = len(female_purchases)
grouped_female_purchase_price = female_purchases.groupby(["Gender", "Price"])
raw_female_average_price = female_purchases["Price"].mean()
intermediary_female_average_price = ("{:.2f}").format(raw_female_average_price)
female_average_price = f"${intermediary_female_average_price}"
raw_female_total_price = ("{:,}").format(female_purchases["Price"].sum())
female_total_price = f"${raw_female_total_price}"
grouped_female_purchases = female_purchases.groupby(["SN", "Gender"])
total_female_purchases = len(grouped_female_purchases)
raw_female_average_price_per_person = female_purchases["Price"].sum()/total_female_purchases
intermediary_female_average_price_per_person = ("{:.2f}").format(raw_female_average_price_per_person)
female_average_price_per_person = f"${intermediary_female_average_price_per_person}"

# The following code allows us to find the numerical values of the second row.
male_purchases = purchase_data.loc[purchase_data["Gender"] == "Male", columns]
total_unique_male_purchases = len(male_purchases)
grouped_male_purchase_price = male_purchases.groupby(["Gender", "Price"])
raw_male_average_price = male_purchases["Price"].mean()
intermediary_male_average_price = ("{:.2f}").format(raw_male_average_price)
male_average_price = f"${intermediary_male_average_price}"
raw_male_total_price = ("{:,}").format(male_purchases["Price"].sum())
male_total_price = f"${raw_male_total_price}"
grouped_male_purchases = male_purchases.groupby(["SN", "Gender"])
total_male_purchases = len(grouped_male_purchases)
raw_male_average_price_per_person = male_purchases["Price"].sum()/total_male_purchases
intermediary_male_average_price_per_person = ("{:.2f}").format(raw_male_average_price_per_person)
male_average_price_per_person = f"${intermediary_male_average_price_per_person}"

# The following code allows us to find the numerical values of the third row.
other_purchases = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", columns]
total_unique_other_purchases = len(other_purchases)
grouped_other_purchase_price = other_purchases.groupby(["Gender", "Price"])
raw_other_average_price = other_purchases["Price"].mean()
intermediary_other_average_price = ("{:.2f}").format(raw_other_average_price)
other_average_price = f"${intermediary_other_average_price}"
raw_other_total_price = ("{:,}").format(other_purchases["Price"].sum())
other_total_price = f"${raw_other_total_price}"
grouped_other_purchases = other_purchases.groupby(["SN", "Gender"])
total_other_purchases = len(grouped_other_purchases)
raw_other_average_price_per_person = other_purchases["Price"].sum()/total_other_purchases
intermediary_other_average_price_per_person = ("{:.2f}").format(raw_other_average_price_per_person)
other_average_price_per_person = f"${intermediary_other_average_price_per_person}"

# The following code allows us to find the numerical values of the third row.
other_purchases = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", columns]
total_unique_other_purchases = len(other_purchases)
grouped_other_purchase_price = other_purchases.groupby(["Gender", "Price"])
raw_other_average_price = other_purchases["Price"].mean()
intermediary_other_average_price = ("{:.2f}").format(raw_other_average_price)
other_average_price = f"${intermediary_other_average_price}"
raw_other_total_price = ("{:,}").format(other_purchases["Price"].sum())
other_total_price = f"${raw_other_total_price}"
grouped_other_purchases = other_purchases.groupby(["SN", "Gender"])
total_other_purchases = len(grouped_other_purchases)
raw_other_average_price_per_person = other_purchases["Price"].sum()/total_other_purchases
intermediary_other_average_price_per_person = ("{:.2f}").format(raw_other_average_price_per_person)
other_average_price_per_person = f"${intermediary_other_average_price_per_person}"

# The following code allows us to create our table with setting a column as an index.
raw_purchasing_analysis_gender = pd.DataFrame({"Gender": ["Female", "Male", "Other / Non-Disclosed"],
                                            "Purchase Count": [total_unique_female_purchases, total_unique_male_purchases, total_unique_other_purchases],
                                            "Average Purchase Price": [female_average_price, male_average_price, other_average_price],
                                            "Total Purchase Value": [female_total_price, male_total_price, other_total_price],
                                            "Avg Total Purchase per Person": [female_average_price_per_person, male_average_price_per_person,                                                            other_average_price_per_person],
                                              })
purchasing_analysis_gender = raw_purchasing_analysis_gender.set_index("Gender")
purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [7]:
# This following code allows us to create our bin.
bins = [0, 9, 14, 19, 24, 29, 34, 39, float("inf")]

# This following code allows us to create labels for these bins.
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# This following code allows us to slice the data and place it into bins with unique data.
player_demo = purchase_data[["SN", "Age"]].drop_duplicates()
player_demo["Age Group"] = pd.cut(player_demo["Age"], bins, labels=group_labels)

# This following code allows us to find all the numerical values.
index = group_labels
age_count = player_demo["Age Group"].value_counts()
percentage_age = age_count/len(player_demo)

# This following code allows us to create our table and to format our second column.
raw_age_demographics = pd.DataFrame({"Total Count": age_count,
                                 "Percentage of Players": percentage_age},
                                 index=index)

age_demographics = raw_age_demographics.style.format({'Percentage of Players': ("{:.2%}")})
age_demographics

In [9]:
# This following code allows us to create our bin.
bins = [0, 9, 14, 19, 24, 29, 34, 39, float("inf")]

# This following code allows us to create labels for these bins.
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# This following code allows us to slice the data and place it into bins with unique data.
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)

purchase_data_df = purchase_data.groupby("Age Ranges")

# Find how many rows fall into each bin
age_count = purchase_data_df["Age"].count()
mean_average_purchase = purchase_data_df["Price"].mean()
sum_average_purchase = purchase_data_df["Price"].sum()
player_demo = purchase_data[["SN", "Age"]].drop_duplicates()
player_demo["Age Group"] = pd.cut(player_demo["Age"], bins, labels=group_labels)
age_count_unique = player_demo["Age Group"].value_counts()
mean_average_purchase_per_person = purchase_data_df["Price"].sum()/age_count_unique


raw_purchase_analysis_age = pd.DataFrame({"Age Ranges": group_labels,
                                          "Puchase Count": age_count,
                                          "Average Purchase Price": mean_average_purchase,
                                          "Total Purchase Value": sum_average_purchase,
                                          "Avg Total Purchase Per Person": mean_average_purchase_per_person
                                        })

intermediary_purchase_analysis_age = raw_purchase_analysis_age.set_index("Age Ranges")

purchase_analysis_age = intermediary_purchase_analysis_age.style.format({"Average Purchase Price": ("${:.2f}"), 
                                                                         "Total Purchase Value": ("${:,.2f}"), 
                                                                         "Avg Total Purchase Per Person": ("${:.2f}")
                                                                        })
purchase_analysis_age