### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [58]:
# The following code allowed us to use pandas.
import pandas as pd

# The following code allowed us to read our excel file.
file_to_load = "/Users/azpunit/Desktop/pandas-challenge/HeroesOfPymoli/Resources/purchase_data.csv"

# The following code allowed us to store our file into a dataframe. 
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [59]:
# The following code allowed us to calculate the total number of players. 
total_players = len(purchase_data["SN"].unique())

# The following code allowed us to create our dataframe including the total number of players. 
total_players_table = pd.DataFrame({"Total Players": [total_players]})

total_players_table

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [60]:
# The following code allowed us to store the number of unique items, the average price, the number of purchases and the total revenue into variables. 
number_of_unique_items = len(purchase_data["Item Name"].unique())

raw_average_price = round(purchase_data["Price"].mean(), 2)
average_price = f"${raw_average_price}"

number_of_purchases = purchase_data["Purchase ID"].count()

raw_total_revenue = purchase_data["Price"].sum()
intermediate_total_revenue = ("{:,}").format(raw_total_revenue)
total_revenue = f"${intermediate_total_revenue}"


# The following code allowed us to create our dataframe including the previously stored variables.
purchasing_analysis_total = pd.DataFrame({ "Number of Unique Items": [number_of_unique_items],
                                           "Average Price": average_price,
                                           "Number of Purchases": number_of_purchases,
                                           "Total Revenue": total_revenue
                                         })
                                         
purchasing_analysis_total

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [61]:
# The following code allowed us to set the number of rows for our data and store the number of columns
# that are going to be used to retreive our data for calculating our variables and drawing our dataframe.
index = ["Male", "Female", "Other / Non-Disclosed"]
columns = ["Purchase ID", "SN", "Age", "Gender", "Item ID", "Item Name", "Price"]

# The following code allows us to calculate the total unique count of the players. 
grouped_purchases = purchase_data.groupby(["SN", "Gender"])
total_purchases = len(grouped_purchases)

# The following code allowed us to calculate the numerical values of the first row of our dataframe.
male_purchases = purchase_data.loc[purchase_data["Gender"] == "Male", columns]
grouped_male_purchases = male_purchases.groupby(["SN", "Gender"])
total_male_purchases = len(grouped_male_purchases)
raw_percentage_male_purchases = ("{:.2f}").format((total_male_purchases/total_purchases)*100)
percentage_male_purchases = f"{raw_percentage_male_purchases}%"

# The following code allowed us to calculate the numerical values of the second row of our dataframe.
female_purchases = purchase_data.loc[purchase_data["Gender"] == "Female", columns]
grouped_female_purchases = female_purchases.groupby(["SN", "Gender"])
total_female_purchases = len(grouped_female_purchases)
raw_percentage_female_purchases = ("{:.2f}").format((total_female_purchases/total_purchases)*100)
percentage_female_purchases = f"{raw_percentage_female_purchases}%"

# The following code allowed us to calculate the numerical values of the third row of our dataframe.
other_purchases = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", columns]
grouped_other_purchases = other_purchases.groupby(["SN", "Gender"])
total_other_purchases = len(grouped_other_purchases)
raw_percentage_other_purchases = ("{:.2f}").format((total_other_purchases/total_purchases)*100)
percentage_other_purchases = f"{raw_percentage_other_purchases}%"

# The following code allowed us to create our dataframe including the previously stored variables and our index list as the index.
gender_demographics = pd.DataFrame({"Total Count": [total_male_purchases, total_female_purchases, total_other_purchases],
                                    "Percentage of Players": [percentage_male_purchases, percentage_female_purchases, percentage_other_purchases]},
                                    index=index)

gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [95]:
# The following code allowed us to group our data by gender. 
player_gender = purchase_data.groupby(["Gender"])

# The following code allowed us to calculate all the numerical values needed to create our dataframe.
gender_count = player_gender["Purchase ID"].count()
average_price = player_gender["Price"].mean()
total_price = player_gender["Price"].sum()

player_gender_df = purchase_data[["SN", "Gender"]].drop_duplicates()
gender_count_2 = player_gender_df["Gender"].value_counts()
average_price_per_person = total_price/gender_count_2

# The following code allowed us to create our dataframe including the previously stored variables with 
# formatting it and setting our index column as the index.
raw_purchase_analysis_gender = pd.DataFrame({"Purchase Count": gender_count,
                                               "Average Purchase Price": average_price,
                                               "Total Purchase Value": total_price,
                                               "Avg Total Purchase per Person": average_price_per_person,
                                              })

purchase_analysis_gender = raw_purchase_analysis_gender.style.format({"Average Purchase Price": ("${:.2f}"), 
                                                                      "Total Purchase Value": ("${:,.2f}"), 
                                                                      "Avg Total Purchase per Person": ("${:.2f}")
                                                                     })

purchase_analysis_gender

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [106]:
# The following code allowed us to create our bins.
bins = [0, 9, 14, 19, 24, 29, 34, 39, float("inf")]

# The following code allowed us to create labels for these bins.
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# The following code allowed us to slice the data and place it with unique data created by dropping duplicates.
player_age = purchase_data[["SN", "Age"]].drop_duplicates()
player_age["Age Group"] = pd.cut(player_age["Age"], bins, labels=group_labels)

# The following code allowed us to calculate all the numerical values needed to create our dataframe.
index = group_labels
age_count = player_age["Age Group"].value_counts()
percentage_age = age_count/len(player_demo)

# The following code allowed us to create our dataframe with formatting it and setting the bins as the index. 
raw_age_demographics = pd.DataFrame({"Total Count": age_count,
                                     "Percentage of Players": percentage_age},
                                     index=index)

age_demographics = raw_age_demographics.style.format({'Percentage of Players': ("{:.2%}")})
age_demographics

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [111]:
# The following code allowed us to create our bins.
bins = [0, 9, 14, 19, 24, 29, 34, 39, float("inf")]

# The following code allowed us to create labels for these bins.
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# The following code allowed us to slice the data and group it accordingly with the bins.
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)

purchase_data_df = purchase_data.groupby("Age Ranges")

# The following code allowed us to calculate all the numerical values needed to create our dataframe.
age_count = purchase_data_df["Age"].count()
mean_average_purchase = purchase_data_df["Price"].mean()
sum_average_purchase = purchase_data_df["Price"].sum()
player_demo = purchase_data[["SN", "Age"]].drop_duplicates()
player_demo["Age Group"] = pd.cut(player_demo["Age"], bins, labels=group_labels)
age_count_unique = player_demo["Age Group"].value_counts()
average_purchase_per_person = purchase_data_df["Price"].sum()/age_count_unique

# The following code allowed us to create our dataframe with formatting it and setting the bins column as the index. 
raw_purchase_analysis_age = pd.DataFrame({"Age Ranges": group_labels,
                                          "Puchase Count": age_count,
                                          "Average Purchase Price": mean_average_purchase,
                                          "Total Purchase Value": sum_average_purchase,
                                          "Avg Total Purchase per Person": average_purchase_per_person
                                         })

intermediary_purchase_analysis_age = raw_purchase_analysis_age.set_index("Age Ranges")

purchase_analysis_age = intermediary_purchase_analysis_age.style.format({"Average Purchase Price": ("${:.2f}"), 
                                                                         "Total Purchase Value": ("${:,.2f}"), 
                                                                         "Avg Total Purchase per Person": ("${:.2f}")
                                                                        })
                                                                        
purchase_analysis_age

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [108]:
# The following code allowed us to group our data by player nickname. 
purchase_data_df = purchase_data.groupby("SN")

# The following code allowed us to calculate all the numerical values needed to create our dataframe.
purchase_count = purchase_data_df["SN"].count()
average_price = purchase_data_df["Price"].mean()
total_purchase_value = purchase_data_df["Price"].sum()

# The following code allowed us to create our dataframe by sorting it from the highest to the lowest
# total purchase value with exctracting its header and formating it. 
raw_top_spender = pd.DataFrame({"Purchase Count": purchase_count,
                                "Average Purchase Price": average_price,
                                "Total Purchase Value": total_purchase_value,
                               })

intermediary_top_spender = raw_top_spender.sort_values("Total Purchase Value", ascending=False)

intermediary_top_spender_2 = intermediary_top_spender.head()

top_spender = intermediary_top_spender_2.style.format({"Average Purchase Price": ("${:.2f}"), 
                                                       "Total Purchase Value": ("${:,.2f}"), 
                                                      })

top_spender

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [109]:
# The following code allowed us to group our data by item ID and item name.
purchase_data_df = purchase_data.groupby(["Item ID", "Item Name"])

# The following code allowed us to calculate all the numerical values needed to create our dataframe.
purchase_count = purchase_data_df["Item Name"].count()
average_price = purchase_data_df["Price"].mean()
total_purchase_value = purchase_data_df["Price"].sum()

# The following code allowed us to create our dataframe by sorting it from the highest to the lowest
# purchase count with exctracting its header and formating it. 
raw_most_popular_item = pd.DataFrame({"Purchase Count": purchase_count,
                                      "Item Price": average_price,
                                      "Total Purchase Value": total_purchase_value,
                                     })

intermediary_most_popular_item = raw_most_popular_item.sort_values("Purchase Count", ascending=False)

intermediary_most_popular_item_2 = intermediary_most_popular_item.head()

most_popular_item = intermediary_most_popular_item_2.style.format({"Item Price": ("${:.2f}"), 
                                                                   "Total Purchase Value": ("${:,.2f}"), 
                                                                  })

most_popular_item

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [110]:
# The following code allowed us to group our data by item ID and item name.
purchase_data_df = purchase_data.groupby(["Item ID", "Item Name"])

# The following code allowed us to calculate all the numerical values needed to create our dataframe.
purchase_count = purchase_data_df["Item Name"].count()
average_price = purchase_data_df["Price"].mean()
total_purchase_value = purchase_data_df["Price"].sum()

# The following code allowed us to create our dataframe by sorting it from the highest to the lowest
# total purchase value with exctracting its header and formating it. 
raw_most_profitable_item = pd.DataFrame({"Purchase Count": purchase_count,
                                         "Item Price": average_price,
                                         "Total Purchase Value": total_purchase_value,
                                        })

intermediary_most_profitable_item = raw_most_profitable_item.sort_values("Total Purchase Value", ascending=False)

intermediary_most_profitable_item_2 = intermediary_most_profitable_item.head()

most_profitable_item = intermediary_most_profitable_item_2.style.format({"Item Price": ("${:.2f}"), 
                                                                         "Total Purchase Value": ("${:,.2f}"), 
                                                                        })

most_profitable_item