### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# The following code allowed us to use pandas.
import pandas as pd

# The following code allowed us to read our schools_complete.csv and our students_complete.csv excel files.
school_data_to_load = "/Users/azpunit/Desktop/pandas-challenge/PyCitySchools/Resources/schools_complete.csv"
student_data_to_load = "/Users/azpunit/Desktop/pandas-challenge/PyCitySchools/Resources/students_complete.csv"

# The following code allowed us to store our files into two distinct dataframes. 
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# The following code allowed us to merge our dataframes previously created into one single dataframe.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [12]:
# The following code allowed us to store the columns that are going to be used
# to retreive our data for calculating our variables and drawing our dataframe.
columns = ["Student ID", "student_name", "gender", "grade", "school_name", "reading_score", "math_score", "School ID", "type", "size", "budget"]

# The following code allowed us to calculate all the numerical values needed to create our dataframe.
total_schools = len(school_data_complete["school_name"].unique())
total_students = school_data_complete["student_name"].count()
school_budget = school_data_complete["budget"].drop_duplicates()
total_budget = sum(school_budget)
average_math_score = school_data_complete["math_score"].mean()
average_reading_score = school_data_complete["reading_score"].mean()
passing_math_score_count = school_data_complete.loc[school_data_complete["math_score"] >= 70, columns]
math_passing_rate = (len(passing_math_score_count)/total_students)*100
passing_reading_score_count = school_data_complete.loc[school_data_complete["reading_score"] >= 70, columns]
reading_passing_rate = (len(passing_reading_score_count)/total_students)*100
passing_reading_and_math_score_count = school_data_complete.loc[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70), columns]
overall_passing_rate = (len(passing_reading_and_math_score_count)/total_students)*100

# The following code allowed us to create our dataframe including the previously stored variables with formatting it.
raw_district_summary = pd.DataFrame({"Total Schools": total_schools,
                                     "Total Students": total_students,
                                     "Total Budget": total_budget,
                                     "Average Math Score": [average_math_score],
                                     "Average Reading Score": [average_reading_score],
                                     "% Passing Math": math_passing_rate,    
                                     "% Passing Reading": reading_passing_rate,
                                     "% Overall Passing": overall_passing_rate
                                    })

district_summary = raw_district_summary.style.format({"Total Students": ("{:,}"), 
                                                      "Total Budget": ("${:,.2f}"), 
                                                      "Average Reading Score": ("{:.5f}")
                                                     })

district_summary

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [13]:
# The following code allowed us to store the columns that are going to be used
# to retreive our data for calculating our variables and drawing our dataframe.
columns = ["Student ID", "student_name", "gender", "grade", "school_name", "reading_score", "math_score", "School ID", "type", "size", "budget"]

# The following code allowed us to calculate all the numerical values needed to create our dataframe.
index = school_data_complete["school_name"].unique()
school_data_label = school_data_complete.groupby("school_name")
school_type = school_data_label["type"].unique().str[0]
total_students_per_school = school_data_label["student_name"].count()
total_budget_per_school = school_data_label["budget"].unique().str[0]
total_budget_per_student_per_school = total_budget_per_school/total_students_per_school
average_math_score_per_school = school_data_label["math_score"].mean()
average_reading_score_per_school = school_data_label["reading_score"].mean()
passing_math_score_count = school_data_complete.loc[school_data_complete["math_score"] >= 70, columns]
school_data_math_score = passing_math_score_count.groupby("school_name")
math_passing_rate_per_school = (school_data_math_score["math_score"].count()/total_students_per_school)*100
reading_passing_score_count = school_data_complete.loc[school_data_complete["reading_score"] >= 70, columns]
school_data_reading_score = passing_reading_score_count.groupby("school_name")
reading_passing_rate_per_school = (school_data_reading_score["reading_score"].count()/total_students_per_school)*100
passing_reading_and_math_score_count = school_data_complete.loc[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70), columns]
school_data_reading_and_math_score = passing_reading_and_math_score_count.groupby("school_name")
overall_passing_rate_per_school = (school_data_reading_and_math_score["math_score" or "reading_score"].count()/total_students_per_school)*100

# The following code allowed us to create our dataframe including the previously stored variables 
# with formatting it and setting our index column as the index and sorting it by alphabetical order.
raw_school_summary = pd.DataFrame({"School Type": school_type,
                                   "Total Students": total_students_per_school,
                                   "Total School Budget": total_budget_per_school,
                                   "Per Student Budget": total_budget_per_student_per_school,
                                   "Average Math Score": average_math_score_per_school,
                                   "Average Reading Score": average_reading_score_per_school,
                                   "% Passing Math": math_passing_rate_per_school,    
                                   "% Passing Reading": reading_passing_rate_per_school,
                                   "% Overall Passing": overall_passing_rate_per_school},
                                   index=index)

intermediary_school_summary = raw_school_summary.sort_index()

school_summary = intermediary_school_summary.style.format({"Total School Budget": ("${:,.2f}"), 
                                                           "Per Student Budget": ("${:.2f}")
                                                          })

school_summary

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [14]:
# The following code allowed us to store the columns that are going to be used
# to retreive our data for calculating our variables and drawing our dataframe.
columns = ["Student ID", "student_name", "gender", "grade", "school_name", "reading_score", "math_score", "School ID", "type", "size", "budget"]

# The following code allowed us to calculate all the numerical values needed to create our dataframe.
index = school_data_complete["school_name"].unique()
school_data_label = school_data_complete.groupby("school_name")
school_type = school_data_label["type"].unique().str[0]
total_students_per_school = school_data_label["student_name"].count()
total_budget_per_school = school_data_label["budget"].unique().str[0]
total_budget_per_student_per_school = total_budget_per_school/total_students_per_school
average_math_score_per_school = school_data_label["math_score"].mean()
average_reading_score_per_school = school_data_label["reading_score"].mean()
passing_math_score_count = school_data_complete.loc[school_data_complete["math_score"] >= 70, columns]
school_data_math_score = passing_math_score_count.groupby("school_name")
math_passing_rate_per_school = (school_data_math_score["math_score"].count()/total_students_per_school)*100
reading_passing_score_count = school_data_complete.loc[school_data_complete["reading_score"] >= 70, columns]
school_data_reading_score = passing_reading_score_count.groupby("school_name")
reading_passing_rate_per_school = (school_data_reading_score["reading_score"].count()/total_students_per_school)*100
passing_reading_and_math_score_count = school_data_complete.loc[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70), columns]
school_data_reading_and_math_score = passing_reading_and_math_score_count.groupby("school_name")
overall_passing_rate_per_school = (school_data_reading_and_math_score["math_score" or "reading_score"].count()/total_students_per_school)*100

# The following code allowed us to create our dataframe including the previously stored variables with extracting 
# its header, formatting it and setting our index column as the index as well as sorting it by alphabetical order.
raw_top_performing_schools = pd.DataFrame({"School Type": school_type,
                                           "Total Students": total_students_per_school,
                                           "Total School Budget": total_budget_per_school,
                                           "Per Student Budget": total_budget_per_student_per_school,
                                           "Average Math Score": average_math_score_per_school,
                                           "Average Reading Score": average_reading_score_per_school,
                                           "% Passing Math": math_passing_rate_per_school,    
                                           "% Passing Reading": reading_passing_rate_per_school,
                                           "% Overall Passing": overall_passing_rate_per_school},
                                           index=index)

intermediary_top_performing_schools = raw_top_performing_schools.sort_values("% Overall Passing", ascending=False)

intermediary_top_performing_schools_2 = intermediary_top_performing_schools.head()

top_performing_schools = intermediary_top_performing_schools_2.style.format({"Total School Budget": ("${:,.2f}"), 
                                                                             "Per Student Budget": ("${:.2f}")
                                                                            })

top_performing_schools

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [15]:
# The following code allowed us to store the columns that are going to be used
# to retreive our data for calculating our variables and drawing our dataframe.
columns = ["Student ID", "student_name", "gender", "grade", "school_name", "reading_score", "math_score", "School ID", "type", "size", "budget"]

# The following code allowed us to calculate all the numerical values needed to create our dataframe.
index = school_data_complete["school_name"].unique()
school_data_label = school_data_complete.groupby("school_name")
school_type = school_data_label["type"].unique().str[0]
total_students_per_school = school_data_label["student_name"].count()
total_budget_per_school = school_data_label["budget"].unique().str[0]
total_budget_per_student_per_school = total_budget_per_school/total_students_per_school
average_math_score_per_school = school_data_label["math_score"].mean()
average_reading_score_per_school = school_data_label["reading_score"].mean()
passing_math_score_count = school_data_complete.loc[school_data_complete["math_score"] >= 70, columns]
school_data_math_score = passing_math_score_count.groupby("school_name")
math_passing_rate_per_school = (school_data_math_score["math_score"].count()/total_students_per_school)*100
reading_passing_score_count = school_data_complete.loc[school_data_complete["reading_score"] >= 70, columns]
school_data_reading_score = passing_reading_score_count.groupby("school_name")
reading_passing_rate_per_school = (school_data_reading_score["reading_score"].count()/total_students_per_school)*100
passing_reading_and_math_score_count = school_data_complete.loc[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70), columns]
school_data_reading_and_math_score = passing_reading_and_math_score_count.groupby("school_name")
overall_passing_rate_per_school = (school_data_reading_and_math_score["math_score" or "reading_score"].count()/total_students_per_school)*100

# The following code allowed us to create our dataframe including the previously stored variables with extracting 
# its header, formatting it and setting our index column as the index as well as sorting it by alphabetical order.
raw_top_performing_schools = pd.DataFrame({"School Type": school_type,
                                           "Total Students": total_students_per_school,
                                           "Total School Budget": total_budget_per_school,
                                           "Per Student Budget": total_budget_per_student_per_school,
                                           "Average Math Score": average_math_score_per_school,
                                           "Average Reading Score": average_reading_score_per_school,
                                           "% Passing Math": math_passing_rate_per_school,    
                                           "% Passing Reading": reading_passing_rate_per_school,
                                           "% Overall Passing": overall_passing_rate_per_school},
                                           index=index)

intermediary_top_performing_schools = raw_top_performing_schools.sort_values("% Overall Passing")

intermediary_top_performing_schools_2 = intermediary_top_performing_schools.head()

top_performing_schools = intermediary_top_performing_schools_2.style.format({"Total School Budget": ("${:,.2f}"), 
                                                                             "Per Student Budget": ("${:.2f}")
                                                                            })

top_performing_schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [16]:
# The following code allowed us to store the columns that are going to be used
# to retreive our data for calculating our variables and drawing our dataframe.
columns = ["Student ID", "student_name", "gender", "grade", "school_name", "reading_score", "math_score", "School ID", "type", "size", "budget"]

# The following code allowed us to calculate all the numerical values needed to create our dataframe.
index = school_data_complete["school_name"].unique()
school_data_9th = school_data_complete.loc[school_data_complete["grade"] == "9th", columns]
grade_9th_group = school_data_9th.groupby("school_name")
average_grade_9th_math_group = grade_9th_group["math_score"].mean()
school_data_10th = school_data_complete.loc[school_data_complete["grade"] == "10th", columns]
grade_10th_group = school_data_10th.groupby("school_name")
average_grade_10th_math_group = grade_10th_group["math_score"].mean()
school_data_11th = school_data_complete.loc[school_data_complete["grade"] == "11th", columns]
grade_11th_group = school_data_11th.groupby("school_name")
average_grade_11th_math_group = grade_11th_group["math_score"].mean()
school_data_12th = school_data_complete.loc[school_data_complete["grade"] == "12th", columns]
grade_12th_group = school_data_12th.groupby("school_name")
average_grade_12th_math_group = grade_12th_group["math_score"].mean()

# The following code allowed us to create our dataframe including the previously stored variables
# with setting our index column as the index as well as sorting it by alphabetical order.
raw_top_performing_schools = pd.DataFrame({"9th": average_grade_9th_math_group,
                                           "10th": average_grade_10th_math_group,
                                           "11th": average_grade_11th_math_group,
                                           "12th": average_grade_12th_math_group},
                                           index=index)

top_performing_schools = raw_top_performing_schools.sort_index()

top_performing_schools

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [17]:
# The following code allowed us to store the columns that are going to be used
# to retreive our data for calculating our variables and drawing our dataframe.
columns = ["Student ID", "student_name", "gender", "grade", "school_name", "reading_score", "math_score", "School ID", "type", "size", "budget"]

# The following code allowed us to calculate all the numerical values needed to create our dataframe.
index = school_data_complete["school_name"].unique()
school_data_9th = school_data_complete.loc[school_data_complete["grade"] == "9th", columns]
grade_9th_group = school_data_9th.groupby("school_name")
average_grade_9th_reading_group = grade_9th_group["reading_score"].mean()
school_data_10th = school_data_complete.loc[school_data_complete["grade"] == "10th", columns]
grade_10th_group = school_data_10th.groupby("school_name")
average_grade_10th_reading_group = grade_10th_group["reading_score"].mean()
school_data_11th = school_data_complete.loc[school_data_complete["grade"] == "11th", columns]
grade_11th_group = school_data_11th.groupby("school_name")
average_grade_11th_reading_group = grade_11th_group["reading_score"].mean()
school_data_12th = school_data_complete.loc[school_data_complete["grade"] == "12th", columns]
grade_12th_group = school_data_12th.groupby("school_name")
average_grade_12th_reading_group = grade_12th_group["reading_score"].mean()

# The following code allowed us to create our dataframe including the previously stored variables
# with setting our index column as the index as well as sorting it by alphabetical order.
raw_top_performing_schools = pd.DataFrame({"9th": average_grade_9th_reading_group,
                                           "10th": average_grade_10th_reading_group,
                                           "11th": average_grade_11th_reading_group,
                                           "12th": average_grade_12th_reading_group},
                                           index=index)

top_performing_schools = raw_top_performing_schools.sort_index()

top_performing_schools

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [18]:
# The following code allowed us to store the columns that are going to be used
# to retreive our data for calculating our variables and drawing our dataframe.
columns = ["Student ID", "student_name", "gender", "grade", "school_name", "reading_score", "math_score", "School ID", "type", "size", "budget"]

# The following code allowed us to calculate all the numerical values needed to create our dataframe.
index = school_data_complete["school_name"].unique()
total_budget_per_student_per_school_group = school_data_complete.groupby("school_name")
total_budget_per_student_per_school = total_budget_per_student_per_school_group["budget"].mean()/school_data_complete["school_name"].value_counts()
average_math_score_per_school = school_data_label["math_score"].mean()
average_reading_score_per_school = school_data_label["reading_score"].mean()
passing_math_score_count = school_data_complete.loc[school_data_complete["math_score"] >= 70, columns]
school_data_math_score = passing_math_score_count.groupby("school_name")
math_passing_rate_per_school = (school_data_math_score["math_score"].count()/total_students_per_school)*100
reading_passing_score_count = school_data_complete.loc[school_data_complete["reading_score"] >= 70, columns]
school_data_reading_score = passing_reading_score_count.groupby("school_name")
reading_passing_rate_per_school = (school_data_reading_score["reading_score"].count()/total_students_per_school)*100
passing_reading_and_math_score_count = school_data_complete.loc[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70), columns]
school_data_reading_and_math_score = passing_reading_and_math_score_count.groupby("school_name")
overall_passing_rate_per_school = (school_data_reading_and_math_score["math_score" or "reading_score"].count()/total_students_per_school)*100

# The following code allowed us to create our dataframe including the 
# previously stored variables with setting our index column as the index.
raw_school_summary_revisited = pd.DataFrame({"Per Student Budget": total_budget_per_student_per_school,
                                            "Average Math Score": average_math_score_per_school,
                                            "Average Reading Score": average_reading_score_per_school,
                                            "% Passing Math": math_passing_rate_per_school,    
                                            "% Passing Reading": reading_passing_rate_per_school,
                                            "% Overall Passing": overall_passing_rate_per_school},
                                            index=index)

# The following code allowed us to create our bins.
bins = [0, 584, 629, 644, 675]

# The following code allowed us to create labels for these bins.
group_labels = ["<584", "$585-629", "$630-644","$645-675"]

# The following code allowed us to slice the data and place it with our previously created dataframe.
raw_school_summary_revisited["Spending Ranges (Per Student)"] = pd.cut(raw_school_summary_revisited["Per Student Budget"], bins, labels=group_labels)

# The following code allowed us to group our data by our group labels to 
# calculate all the numerical values needed to create our dataframe.
score_data = raw_school_summary_revisited.groupby("Spending Ranges (Per Student)")
average_math_score = score_data["Average Math Score"].mean()
average_reading_score = score_data["Average Reading Score"].mean()
average_passing_math_rate = score_data["% Passing Math"].mean()
average_passing_reading_rate = score_data["% Passing Reading"].mean()
average_passing_math_and_reading_rate = score_data["% Overall Passing"].mean()

# The following code allowed us to create our dataframe including the previously stored variables with formatting it.
raw_scores_by_school_spending = pd.DataFrame({"Average Math Score": average_math_score,
                                              "Average Reading Score": average_reading_score,
                                              "% Passing Math": average_passing_math_rate,    
                                              "% Passing Reading": average_passing_reading_rate,
                                              "% Overall Passing": average_passing_math_and_reading_rate
                                             })

scores_by_school_spending = raw_scores_by_school_spending.style.format({"Average Math Score": ("{:.2f}"), 
                                                                        "Average Reading Score": ("{:.2f}"),
                                                                        "% Passing Math": ("{:.2f}"),
                                                                        "% Passing Reading": ("{:.2f}"),
                                                                        "% Overall Passing": ("{:.2f}")                                                                                                                           })

scores_by_school_spending

## Scores by School Size

* Perform the same operations as above, based on school size.

In [21]:
# The following code allowed us to store the columns that are going to be used
# to retreive our data for calculating our variables and drawing our dataframe.
columns = ["Student ID", "student_name", "gender", "grade", "school_name", "reading_score", "math_score", "School ID", "type", "size", "budget"]

# The following code allowed us to calculate all the numerical values needed to create our dataframe.
index = school_data_complete["school_name"].unique()
total_size = school_data_complete.groupby("school_name")
total_students_per_school = total_size["student_name"].count()
average_math_score_per_school = school_data_label["math_score"].mean()
average_reading_score_per_school = school_data_label["reading_score"].mean()
passing_math_score_count = school_data_complete.loc[school_data_complete["math_score"] >= 70, columns]
school_data_math_score = passing_math_score_count.groupby("school_name")
math_passing_rate_per_school = (school_data_math_score["math_score"].count()/total_students_per_school)*100
reading_passing_score_count = school_data_complete.loc[school_data_complete["reading_score"] >= 70, columns]
school_data_reading_score = passing_reading_score_count.groupby("school_name")
reading_passing_rate_per_school = (school_data_reading_score["reading_score"].count()/total_students_per_school)*100
passing_reading_and_math_score_count = school_data_complete.loc[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70), columns]
school_data_reading_and_math_score = passing_reading_and_math_score_count.groupby("school_name")
overall_passing_rate_per_school = (school_data_reading_and_math_score["math_score" or "reading_score"].count()/total_students_per_school)*100

# The following code allowed us to create our dataframe including the 
# previously stored variables with setting our index column as the index.
raw_school_summary_revisited_2 = pd.DataFrame({"Total Students": total_students_per_school,
                                               "Average Math Score": average_math_score_per_school,
                                               "Average Reading Score": average_reading_score_per_school,
                                               "% Passing Math": math_passing_rate_per_school,    
                                               "% Passing Reading": reading_passing_rate_per_school,
                                               "% Overall Passing": overall_passing_rate_per_school},
                                               index=index)

# The following code allowed us to create our bins.
bins = [0, 999, 1999, 5000]

# The following code allowed us to create labels for these bins.
group_labels = ["Small <1000", "Medium 1000-2000", "Large 2000-5000"]

# The following code allowed us to slice the data and place it with our previously created dataframe.
raw_school_summary_revisited_2["school size"] = pd.cut(raw_school_summary_revisited_2["Total Students"], bins, labels=group_labels)

# The following code allowed us to group our data by our group labels to 
# calculate all the numerical values needed to create our dataframe.
score_data = raw_school_summary_revisited_2.groupby("school size")
average_math_score = score_data["Average Math Score"].mean()
average_reading_score = score_data["Average Reading Score"].mean()
average_passing_math_rate = score_data["% Passing Math"].mean()
average_passing_reading_rate = score_data["% Passing Reading"].mean()
average_passing_math_and_reading_rate = score_data["% Overall Passing"].mean()

# The following code allowed us to create our dataframe including the previously stored variables.
raw_scores_by_school_size = pd.DataFrame({"Average Math Score": average_math_score,
                                          "Average Reading Score": average_reading_score,
                                          "% Passing Math": average_passing_math_rate,    
                                          "% Passing Reading": average_passing_reading_rate,
                                          "% Overall Passing": average_passing_math_and_reading_rate
                                         })

raw_scores_by_school_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school size,,,,,
Small <1000,83.821598,83.929843,93.550225,96.099437,89.883853
Medium 1000-2000,83.374684,83.864438,93.599695,96.790680,90.621535
Large 2000-5000,77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

In [22]:
# The following code allowed us to store the columns that are going to be used
# to retreive our data for calculating our variables and drawing our dataframe.
columns = ["Student ID", "student_name", "gender", "grade", "school_name", "reading_score", "math_score", "School ID", "type", "size", "budget"]

# The following code allowed us to calculate all the numerical values needed to create our dataframe.
index = school_data_complete["school_name"].unique()
school_data_label = school_data_complete.groupby("school_name")
school_type = school_data_label["type"].unique().str[0]
total_size = school_data_complete.groupby("school_name")
total_students_per_school = total_size["student_name"].count()
average_math_score_per_school = school_data_label["math_score"].mean()
average_reading_score_per_school = school_data_label["reading_score"].mean()
passing_math_score_count = school_data_complete.loc[school_data_complete["math_score"] >= 70, columns]
school_data_math_score = passing_math_score_count.groupby("school_name")
math_passing_rate_per_school = (school_data_math_score["math_score"].count()/total_students_per_school)*100
reading_passing_score_count = school_data_complete.loc[school_data_complete["reading_score"] >= 70, columns]
school_data_reading_score = passing_reading_score_count.groupby("school_name")
reading_passing_rate_per_school = (school_data_reading_score["reading_score"].count()/total_students_per_school)*100
passing_reading_and_math_score_count = school_data_complete.loc[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70), columns]
school_data_reading_and_math_score = passing_reading_and_math_score_count.groupby("school_name")
overall_passing_rate_per_school = (school_data_reading_and_math_score["math_score" or "reading_score"].count()/total_students_per_school)*100

# The following code allowed us to create our dataframe including the 
# previously stored variables with setting our index column as the index.
raw_school_summary_revisited_3 = pd.DataFrame({"School Type": school_type,
                                               "Total Students": total_students_per_school,
                                               "Average Math Score": average_math_score_per_school,
                                               "Average Reading Score": average_reading_score_per_school,
                                               "% Passing Math": math_passing_rate_per_school,    
                                               "% Passing Reading": reading_passing_rate_per_school,
                                               "% Overall Passing": overall_passing_rate_per_school},
                                               index=index)

# The following code allowed us to group our data by school type and to
# calculate all the numerical values needed to create our dataframe.
score_data = raw_school_summary_revisited_3.groupby("School Type")
average_math_score = score_data["Average Math Score"].mean()
average_reading_score = score_data["Average Reading Score"].mean()
average_passing_math_rate = score_data["% Passing Math"].mean()
average_passing_reading_rate = score_data["% Passing Reading"].mean()
average_passing_math_and_reading_rate = score_data["% Overall Passing"].mean()

# The following code allowed us to create our dataframe including the previously stored variables.
raw_scores_by_school_type = pd.DataFrame({"Average Math Score": average_math_score,
                                          "Average Reading Score": average_reading_score,
                                          "% Passing Math": average_passing_math_rate,    
                                          "% Passing Reading": average_passing_reading_rate,
                                          "% Overall Passing": average_passing_math_and_reading_rate
                                         })

raw_scores_by_school_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208